<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Welcome to Alpha Portal for Health Professionals</h1>
        <button><a href="http://0.0.0.0/patients"> patient list </a></button>
        <button><a href="http://0.0.0.0/patients2"> bootstrap patient list </a></button>
        <p> Welcome! Utilize both links please :) </p>
            <img src="https://s3.amazonaws.com/assets.inarkansas.com/119895/next-2020-132867-health-care-professionals-stsk-illustration-725.jpg" alt="broken" width='500' height='400'>
    </body>

   